{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "selector-pseudo-element-colon-notation": null,
    "at-rule-empty-line-before": null,
    "indentation": null,
    "rule-empty-line-before": null,
    "no-eol-whitespace": null
  }
}